@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-monument: var(--font-monument);
  --font-monumentMedium: var(--font-monumentMedium);
  --font-monumentBold: var(--font-monumentBold);
  --font-monumentMono: var(--font-monumentMono);
  --font-pixelCode: var(--font-pixelCode);
  --font-pixelCodeThin: var(--font-pixelCodeThin);
}
